<!DOCTYPE html>
<html>
<head>
  <title>Attorney</title>
  <%= stylesheet_link_tag    "attorney/application", media: "all" %>
  <%= javascript_include_tag "attorney/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
