<h1><%= "#{attorney_mounted_path}/#{@document.slug}" %></h1>
<br>
<h3><%= published_badge(@document) %></h3>
<br>

<div class="card">
  <div class="card-body">
    <%= @document.content.html_safe %>
  </div>
</div>

<br>
<%= link_to 'Back', admin_documents_path, class: 'text-secondary' %>
