<h1><%= "/#{@document.slug}" %></h1>
<br>

<div class="card">
  <div class="card-body">
    <%= @document.content.html_safe %>
  </div>
</div>

<br>
<%= link_to 'Edit', edit_admin_document_path(@document), class: 'btn btn-info' %>
