<h1><%= "#{attorney_mounted_path}/#{@document.slug}" %></h1>
<br>
<h3><%= published_badge(@document) %></h3>
<br>

<div class="card">
  <div class="card-body">
    <%= @document.content.html_safe %>
  </div>
</div>

<br>
<%= link_to 'Edit', edit_admin_document_path(@document), class: 'btn btn-primary' %>
