development:
  admin:
    basic_auth:
      name: admin
      password: secret

test:
  admin:
    basic_auth:
      name: admin
      password: secret

production:
  admin:
    basic_auth:
      name: *******
      password: *******
